@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img{
  background-image: url('https://images.unsplash.com/photo-1511320392863-449562bdc706?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.btn2{
  background-color: #7933fa;
  border: none;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  color: #fff;
  border-radius: 20px;
}
.btn2:hover{
  opacity: 1
}